@model Zurich.CorredoresOnline.Web.Areas.ActualizacionEmail.Models.ActualizacionEmailModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    <link href="~/css/bootstrap.css" rel="stylesheet" />*@
<style>
    .table {
        table-layout: fixed;
    }
    .editar {
        background: url(../Images/edit.png) no-repeat top left;
        display: inline-block;
        width: 24px;
        height: 24px;
        text-indent: -9999px; /* hides the link text */
    }
    .cambiar {
        background: url(../Images/Boton-cambiar-clientes_OFF.jpg) no-repeat top left;
        display: inline-block;
        width: 260px;
        height: 52px;
        text-indent: -9999px; /* hides the link text */
    }
    .cambiar:hover {
        background: url(../Images/Boton-cambiar-clientes_ON.jpg) no-repeat top left;
    }
    .txtEditar {
        width: 80%;
        height: 20px;
    }
</style>
@using (Html.BeginForm("Index", "Mantenedor", FormMethod.Post, new { @id = "ActualizacionEmail", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        var jsonListaEmail = '@Html.Raw(Json.Encode(Model.ListaEmail))';
        var listaEmail = $.parseJSON(jsonListaEmail);
        function editar(tipoCorreo) {
            $("#tblEditar").show();
            $("#@Html.IdFor(m => m.FormEditar.TipoEmail)").val(tipoCorreo);
            if (listaEmail != null) {
                $(listaEmail).each(function (index, value) {
                    if (value["TipoEmail"] == tipoCorreo) {
                        $("#@Html.IdFor(m => m.FormEditar.TipoEmailTxt)").val(value["TipoEmailTxt"]);
                        $("#@Html.IdFor(m => m.FormEditar.Email)").val(value["Email"].toLowerCase());
                        $("#@Html.IdFor(m => m.FormEditar.EmailCC)").val(value["EmailCC"].toLowerCase());
                    }
                });
            }
        }
        $(document).ready(function () {
            $("#btnCambiar").on("click", function () {
                var regex = /@(Zurich.CorredoresOnline.Model.Models.Values.RegularExpressions.EMAIL)/;
                if ($('#@(Html.IdFor(m => m.FormEditar.Email))').val() != null) {
                    if (!regex.test($('#@(Html.IdFor(m => m.FormEditar.Email))').val()) && $('#@(Html.IdFor(m => m.FormEditar.Email))').val() != '') {
                        alert('El correo principal es inválido.');
                        return false;
                    }
                }
                if ($('#@(Html.IdFor(m => m.FormEditar.EmailCC))').val() != null) {
                    if (!regex.test($('#@(Html.IdFor(m => m.FormEditar.EmailCC))').val()) && $('#@(Html.IdFor(m => m.FormEditar.EmailCC))').val() != '') {
                        alert('El correo Con Copia es inválido.');
                        return false;
                    }
                }
                ValidaScroll();
            });
        });
        function ValidaForm() {

        }
    </script>
    <div id="pageContent">
        <div class="row" align="center">
            <h1 class="sub-title" style="height: 20px">Actualización de Correos</h1>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="data-responsive">
                @Html.HiddenFor(m => m.FormEditar.TipoEmail)
                <table id="tblNomina" class="table-data table-form table-amounts table-hover table-pagination" style="width: 100%; color: black; font: 200;">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th style="text-align: center;">Tipo correo</th>
                            <th style="text-align: center;">Correo principal</th>
                            <th style="text-align: center;">Con copia</th>
                            <th style="text-align: center;">Modificar</th>
                        </tr>
                    </thead>
                    <tbody id="ListSeguimientoPropuestas">
                        @if (Model.ListaEmail != null)
                        {
                            foreach (var item in Model.ListaEmail)
                            {
                                <tr class="pointer" style="font-size: 12px;">
                                    <td style="text-align: center;">@item.TipoEmailTxt</td>
                                    <td style="text-align: center;">@item.Email.ToLower()</td>
                                    <td style="text-align: center;">@item.EmailCC.ToLower()</td>
                                    <td style="text-align: center;"><img src="../Images/edit.png" id="imgEditar" onclick="editar(@(item.TipoEmail));" style="cursor: pointer;" /></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <table id="tblEditar" class="table-data table-form table-amounts table-hover table-pagination" style="width: 100%; color: black; font: 200; display:none;">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th style="text-align: center;">Tipo correo</th>
                            <th style="text-align: center;">Correo principal</th>
                            <th style="text-align: center;">Con copia</th>
                            <th style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody id="ListSeguimientoPropuestas">
                        <tr class="pointer" style="font-size: 12px;">
                            @*<td style="text-align: center;"><span class="txtEditar" id="txtTipoCorreo"></span></td>
                            <td style="text-align: center;"><input type="text" class="txtEditar" id="txtCorreoPpal" /></td>
                            <td style="text-align: center;"><input type="text" class="txtEditar" id="txtCorreoCC" /></td>*@
                            <td style="text-align: center;">@Html.TextBoxFor(m => m.FormEditar.TipoEmailTxt, new { @readonly = "readonly", @class = "txtEditar" })</td>
                            <td style="text-align: center;">@Html.TextBoxFor(m => m.FormEditar.Email, new { @class = "txtEditar" })</td>
                            <td style="text-align: center;">@Html.TextBoxFor(m => m.FormEditar.EmailCC, new { @class = "txtEditar" })</td>
                            <td style="text-align: center;"><button id="btnCambiar" type="submit" class="btn btn-primary" value="Index" onclick="ValidaForm()">Cambiar</button></td>
                            @*<td style="text-align: center;">@Html.ActionLink("Botón", "Index", "Mantenedor", new { Area = "ActualizacionEmail" }, new { @class = "cambiar" })</td>*@
                        </tr>
                    </tbody>
                </table>
                <div class="nav-pagination">
                    <ul id="tablePagination"></ul>
                </div>
                <script src="~/Scripts/jquery-3.3.1.js"></script>
                <script src="~/Scripts/jquery.validate.js"></script>
                <script src="~/Scripts/jquery.unobtrusive.js "></script>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6">
                <div style="text-align: left; vertical-align: bottom;">
                    <div class="card-body" style="vertical-align: bottom;">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })"><span class="icon icon-icon-back" aria-hidden="true"></span>&nbsp;volver</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function Pagina_Init() {
            $("#li-menu-tables").addClass("active");
            $('#ListSeguimientoPropuestas').pageMe({ pagerSelector: '#tablePagination', showPrevNext: true, hidePageNumbers: false, perPage: 10 });
        }
        function ValidaScroll() {
            utilidades.loading(true)
        }
        @if(Model.Mensaje != null && !Model.Mensaje.Equals("")) {
            <text>alert('@(Model.Mensaje)');</text>
        }
    </script>
}